@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

@media print {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
  }

  .pdf-container {
    display: block;
  }

  .a4-page {
    page-break-after: always;
    page-break-inside: avoid;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
  }

  .pdf-header,
  .pdf-footer {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 999;
  }

  .pdf-header {
    top: 0;
    margin-top: 0;
  }

  .pdf-footer {
    bottom: 0;
    margin-bottom: 0;
    color: black; /* Define a cor do texto como preto */
  }

  .pdf-content {
    flex: 1;
    margin-top: 25px; /* Espaço para o cabeçalho */
    margin-bottom: 25px; /* Espaço para o rodapé */
    overflow: hidden; /* Adicionado para evitar que o conteúdo transborde */
    color: black; /* Define a cor do texto como preto */
  }

  .pdf-page-number {
    text-align: right;
    font-size: 10px;
    color: black; /* Define a cor do texto como preto */
  }
}

/* Ajustes para renderização na tela */
@media screen {
  .pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .a4-page {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .pdf-footer {
    color: black; /* Define a cor do texto como preto */
  }

  .pdf-content {
    flex: 1;
    margin-top: 25px; /* Espaço para o cabeçalho */
    margin-bottom: 25px; /* Espaço para o rodapé */
    overflow: hidden; /* Adicionado para evitar que o conteúdo transborde */
    color: black; /* Define a cor do texto como preto */
  }
}
